* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
}

button {
  height: 50px;
  padding: 0 25px;
  background-color: rgb(73, 134, 224);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
}